@using ITMO.Dev.ASAP.Application.Dto.Users
@using ITMO.Dev.ASAP.Application.Dto.Querying
@typeparam TParameter where TParameter : struct, Enum
@typeparam TValue

@if (Parameter is not null)
{
    <Card Padding="Padding.Is2"
          Flex="Flex.Row.AlignItems.Center.JustifyContent.Start"
          Margin="Margin.Is2.FromBottom">

        <Addons>

            <Addon AddonType="AddonType.Start">
                <DropdownList TItem="TParameter"
                              TValue="TParameter"
                              Data="@(Parent?.AvailableParameters ?? Array.Empty<TParameter>())"
                              TextField="x => x.ToString()"
                              ValueField="x => x"
                              @bind-SelectedValue="@Parameter.Type"
                              Color="Color.Primary"
                              Disabled="@(Parent?.IsFull ?? false)">

                    @Parameter.Type.ToString()

                </DropdownList>
            </Addon>

            <Addon AddonType="AddonType.Body">
                <TextEdit @bind-Text="@Parameter.Pattern"
                          Placeholder="Pattern"
                          Margin="Margin.Is2.FromEnd"/>
            </Addon>

            <Addon AddonType="AddonType.End">
                <Button Color="Color.Danger" Clicked="OnRemoveClicked">
                    Remove
                </Button>
            </Addon>

        </Addons>

    </Card>
}

@code
{
    [Parameter]
    public QueryParameter<TParameter>? Parameter { get; set; }

    [Parameter]
    public QueryComponent<TParameter, TValue>? Parent { get; set; }

    private void OnRemoveClicked()
    {
        if (Parameter is null || Parent is null)
            return;

        Parent.Remove(Parameter);
        Parent.Update();
    }
}