@using Kysect.Shreks.WebUI.AdminPanel.ExceptionHandling
@using Kysect.Shreks.Application.Dto.Querying
@inject ISafeExecutor SafeExecutor
@typeparam TParameter where TParameter : struct, Enum
@typeparam TValue

<Accordion>
    <Collapse id="@ToggleId" Visible="@_visible" type="button" @onclick="@Toggle" Overflow="Overflow.Visible">
        <CollapseHeader>
            <Div Flex="Flex.JustifyContent.Between">
                <div @onclick:stopPropagation="true">

                    <Button Clicked="Add"
                            Color="Color.Primary"
                            Disabled="@(IsFull || _isExecuting)"
                            Style="z-index: 1000">

                        Add Filter
                    </Button>

                </div>

                @if (_isExecuting is false)
                {
                    <Button Clicked="ExecuteAsync"
                            Color="Color.Success">
                        Execute
                    </Button>
                }
                else
                {
                    <Button Clicked="Cancel"
                            Color="Color.Danger">
                        Cancel
                    </Button>
                }
            </Div>
        </CollapseHeader>

        <div @onclick:stopPropagation="true">
            <CollapseBody Padding="Padding.Is2.FromTop.Is0.FromBottom">
                @foreach (QueryParameter<TParameter>? parameter in AddedParameters)
                {
                    <QueryParameterComponent TParameter="TParameter"
                                             TValue="TValue"
                                             Parameter="@parameter"
                                             Parent="@(this)"/>
                }
            </CollapseBody>
        </div>

    </Collapse>
</Accordion>

@if (_isExecuting)
{
    <LoaderComponent/>
}

@if (_values is not null)
{
    @Table?.Invoke(_values)
}

@code
{
        private const string ToggleId = "collapse-toggle";

    private IReadOnlyCollection<TValue>? _values;
    private bool _visible;
    private bool _isExecuting;

    private CancellationTokenSource _cts = new CancellationTokenSource();

    [Parameter]
    public RenderFragment<IReadOnlyCollection<TValue>>? Table { get; set; }

    [Parameter]
    public EventCallback<IReadOnlyCollection<TValue>> OnValuesUpdates { get; set; }

    public async Task ExecuteAsync()
    {
        _isExecuting = true;

        await using (var builder = SafeExecutor.Execute(async () =>
        {
            _values = await ExecuteQueryAsync();
            await OnValuesUpdates.InvokeAsync(_values);
        }))
        {
            builder.Title = "Failed to execute query";
        }

        _isExecuting = false;
    }

    private void Toggle(MouseEventArgs obj)
    {
        if (_isExecuting)
            return;

        _visible = !_visible;
    }

    private void Cancel()
    {
        _cts.Cancel();
        _cts = new CancellationTokenSource();
    }
}